<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>스파르타코딩클럽 | 부트스트랩 연습하기</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Stylish&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(function () {
        getRate();
      });

      function getRate() {
        $.ajax({
          type: "GET",
          url: "http://spartacodingclub.shop/sparta_api/rate",
          data: {},
          success: function (response) {
            let nowRate = response["rate"];
            $("#price").text(nowRate);
          },
        });
      }
      function onClick() {
        alert("주문이 완료되었습니다");
      }
      function order_listing() {
        //주문목록 API 연결
        $.ajax({
          type: "GET",
          url: "/order",
          data: {},
          success: function (response) {
            alert(response["msg"]);
            window.location.reload();
          },
        });
      }
      function order() {
        //주문하기 API 연결
        let name = $("#name").val();
        let num = $("#num").val();
        let add = $("#add").val();
        let call = $("#call").val();
        $.ajax({
          type: "POST",
          url: "/order",
          data: {
            name_give: name,
            num_give: num,
            add_give: add,
            call_give: call,
          },
          success: function (response) {
            alert(response["msg"]);
            window.location.reload();
            console.log(order);
          },
        });
      }
    </script>
  </head>
  <body>
    <div class="wrap">
      <div class="img-wrap">
        <img
          src="https://coresos-phinf.pstatic.net/a/2jaaeb/a_if2Ud018svcfmhb2kfux0ya_m3pp8m.jpg?type=w520"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
      <div class="text-wrap" id="textWrap">
        <h2>이거시 물개<span class="price">가격 : 1,000,000원 / 개</span></h2>
        <p class="sub">
          이 상품으로 말할 것 같으면 물개가 물개물개 하여 물개물개한 물개로
          물개물개물개물개물개물개물개..
        </p>
        <p id="convert">달러-원 환율 : <span id="price"></span></p>
      </div>
      <div class="input-wrap">
        <div class="input">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default"
                >주문자 이름</span
              >
            </div>
            <input
              type="text"
              class="form-control"
              aria-label="Default"
              aria-describedby="inputGroup-sizing-default"
              id="name"
            />
          </div>
        </div>
        <div class="input">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01"
                >수량</label
              >
            </div>
            <select class="custom-select" id="inputGroupSelect01 num">
              <option selected>-- 물개를 선택하세요 --</option>
              <option value="1">물개</option>
              <option value="2">물개</option>
              <option value="3">물개</option>
            </select>
          </div>
        </div>
        <div class="input">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default"
                >주소</span
              >
            </div>
            <input
              type="text"
              class="form-control"
              aria-label="Default"
              aria-describedby="inputGroup-sizing-default"
              id="add"
            />
          </div>
        </div>
        <div class="input">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default"
                >전화번호</span
              >
            </div>
            <input
              type="text"
              class="form-control"
              aria-label="Default"
              aria-describedby="inputGroup-sizing-default"
              id="call"
            />
          </div>
        </div>
      </div>
      <div class="btn-wrap">
        <button
          type="button"
          onclick="onClick()"
          type="button"
          class="btn btn-outline-primary"
        >
          주문하기
        </button>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">이름</th>
            <th scope="col">수량</th>
            <th scope="col">주소</th>
            <th scope="col">전화번호</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">coder</th>
            <td>1</td>
            <td>광주</td>
            <td>606-7700</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- <script src="main.js"></script> -->
  </body>
</html>
